Repository ksvitorsilva/nextjs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Update `shelf` page
  .babelrc
  next.config.js
  package-lock.json
  package.json
  src/data/board-games.ts
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/shelf.tsx
Due: eslint, prettier --write

Improve lighthouse scores
  .husky/pre-commit
  .lintstagedrc
  .prettierrc
  next.config.js
  src/components/container.tsx
  src/components/link.tsx
  src/components/theme-selector.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/pages/shelf.tsx
  src/styles/fonts.css
  src/styles/global-styles.tsx
  tsconfig.json
Due: eslint, prettier --write

Add block comments
  .eslintrc.json
  next.config.js
  package-lock.json
  package.json
  src/components/app-provider.tsx
  src/components/container.tsx
  src/components/error-boundary.tsx
  src/components/header.tsx
  src/components/link.tsx
  src/components/theme-selector.tsx
  src/data/board-games.ts
  src/hooks/useLocalStorageState.tsx
  src/pages/404.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/pages/shelf.tsx
  src/styles/dark.ts
  src/styles/global-styles.tsx
  src/styles/light.ts
  src/styles/theme.ts
  tsconfig.json
Due: eslint, prettier --write

Add pull request template
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  package-lock.json
  package.json
Due: prettier --write

Update auto assign workflow
  .github/auto_assign.yml
Due: none

Add `@vercel/analytics`
  package-lock.json
  package.json
  src/pages/_app.tsx
Due: eslint, prettier --write

0.1.0
  package-lock.json
  package.json
Due: none

Update board games list
  src/components/board-games-counter.tsx
  src/components/index.tsx
  src/data/board-games.ts
  src/pages/shelf.tsx
Due: eslint, prettier --write

Add `support` label
  .github/pr-labeler.yml
  .github/release-drafter.yml
Due: none

Update `board-games` data
  src/data/board-games.ts
Due: eslint, prettier --write

Bump `next@13`
  package-lock.json
  package.json
  src/pages/shelf.tsx
Due: eslint, prettier --write

Update `board-games` list
  src/data/board-games.ts
Due: eslint, prettier --write

Bump `next@14`
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/build.yml
  README.md
  next.config.js
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,js,md}
